#mostPop h1::after {
    content: '';
    width: 400px;
    height: 5px;
    background: #000;
    position: absolute;
    top: 50%;
    margin-left: 25px;
    border-radius: 8px;
}
#mostPop .sw img {
    width: 200px;
}
#mostPop {
    padding-bottom: 20px;
    padding-top: 100px;

}
/* responsive */
@media screen and (max-width: 868px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: none; 
    }
    #mostPop h1::after {
        width: 200px;
    }
.swiper-slide {
    font-size: 0.9rem;
  }

  }
/* MOBILE */
@media screen and (max-width: 480px) and (min-width: 200px) {
  #mostPop {
    display: none;
  }
}

  
